
#container{
    width:100%;
    margin:auto;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin:auto;
    height:50px;
}
.page-header{
    text-align: center;
    margin-top:50px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

/*input[type=text]{*/
    /*border-radius: 4px;*/
    /*height:22px;*/
/*}*/

/*input[type=submit]{*/
    /*text-align: center;*/
    /*font-size: 16px;*/
    /*border-radius: 4px;*/
    /*margin-top:15px;*/
    /*padding:3px 5px;*/
/*}*/
div .row{
    width:100%;
    margin:auto;
}
.col-sm-4 img{
    position:relative;
    padding: 20px;
    margin:10px;
    width:330px;
    height:300px;
    /*float: left;*/
    border: 3px solid darkblue;
    padding: 10px;
}
.col-sm-4:hover img{
    opacity:0.5;
}
.col-sm-4 .description{
    position:absolute;
    display:block;
    margin:10px;
    padding:20px;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    display:block;
    top:0;
    text-align: center;

}
.col-sm-4:hover .description{
    opacity:1;
    cursor: pointer;
    color:rgb(0, 0, 51);
}

