h2{
    text-align: center;
}
.signUpContainer{
    background-color: white;
    width:40%;
    color: black;
    padding:3%;
    margin: 10% auto;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);

}

#radioRole{
    width:100%;
    text-align: center;
    font-size: 16px;
}

input[type=text]:focus,
input[type=password]:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 224, 255,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 224, 255,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 224, 255,0.9);
    border:2px solid rgb(153, 194, 255);
    background-color: rgb(230, 243, 255);
}
input[type=submit]{
    width: 100%;
    background-color: rgb(0, 51, 128);
    font-size:20px;
    color:white;
    padding:15px 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline:none;
    margin:20px 0;
}
input[type=submit]:hover{
    background-color: rgb(128, 179, 255);
}

