body{
    background-color:rgb(204, 204, 255);
    /* font-family: 'Lato',sans-serif;*/
    font-size: 20px;
    color:white;
}
.container-fluid{
    background-color:rgb(204, 204, 255);
    /* font-family: 'Lato',sans-serif;*/
    font-size: 20px;
    /*color:white;*/
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
